main {
    font-family: 'Manjari', Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.container {
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
}
.containersm {
    padding: 5% 2%;
    display: flex;
}
.containersecond {
    padding: 5% 2%;
    display: flex;
}
.containerlast {
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section {
    height: 50vh;
}
.sectiontitle {
    padding: 2% 0;
    font-size: 40px;
    width: 50%;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    text-align: left;
    line-height: 1.2;
}
.color {
    color: darkcyan;

}
.picture {
    margin-left: 50px;
    width: 50%;
    background-image: url('../../../assets/image3.avif');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 30vh;
}
.picture3{
    margin-left: 50px;
    width: 50%;
    background-image: url('../../../assets/image1.avif');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 30vh;
}
.picture2{
    margin-right: 50px;
    width: 50%;
    background-image: url('../../../assets/image2.avif');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 30vh;
}
.sectionlasttitle {
    padding: 2% 0;
    color: darkcyan;
    align-items: center;
    text-align: center;
    font-size: 40px;
    width: 50%;
    font-weight: 700;
    line-height: 1.2;
   
}
#btn {
    padding: 1% 2%;
    background-color: rgb(0, 125, 125);
    font-weight: bold;
    color: #ffff;
    border: none;
    transition: 0.2s ease-in-out;
}
#btn:hover {
    background-color: #ffff;
    color: rgb(0, 125, 125);
    border: 2px solid rgb(0, 125, 125);
    border-radius: 20px;
}
/* Media Queries Start Here */
@media (max-width: 1000px) {
    .containersm {
        padding: 1% 1%;
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        align-items: flex-start;
        text-align: center;
        justify-content: center;
        height: 50vh;
        /* border: 2px solid #000; */
    }
    .sectiontitle {
        font-size: 2.8vh;
    }
    .picture, .picture2, .picture3 {
        width: 70vw;
        height: 30vh;
        margin: 10px 10px;
    }
    .picture2 {
        width: 70vw;
        height: 25vh;
    }
    .sectionlasttitle {
        font-size: 2.8vh;
        text-align: left;
    }
    .containerlast {
        align-items: flex-start;
    }
    #btn {
        width: 30vw;
        height: 5vh;
    }
    .containersecond {
        flex-direction: column-reverse;
    }
}