main {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 800;
}
.container {
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
}
.containersm {
    padding: 5% 2%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; /*This code workes.*/
}
.containersecond {
    padding: 5% 2%;
    margin: 5% 0%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; /*This code workes.*/
}
.containerlast {
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
section {
    height: 100vh;
}
.sectiontitle {
    padding: 2%;
    font-size: 5vh;
    width: 50%;
    align-items: left;
    justify-content: center;
    text-align: left;
    line-height: 1.2;
}
.color {
    color: darkcyan;

}
.picture {
    width: 50%;
    background-image: url('../../../assets/image3.avif');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 30px;
    height: 50vh;   /*I changed the height from 30vh to 50vh.*/
}
.picture3{
    margin-left: 50px;
    width: 28%;
    background-image: url('../../../assets/image1.avif');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 50vh;   /*I changed the height from 30vh to 50vh.*/
}
.picture2{
    margin-right: 50px;
    width: 37%;
    background-image: url('../../../assets/image2.avif');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
    height: 50vh;   /*I changed the height from 30vh to 50vh.*/
}

/* Common styles for both sections */
.sectiontitle {
    padding: 20px; /* Adjust padding as needed */
    /* font-size: 16px;  */
    text-align: center;
}

/* Common styles for both sections */
.sectiontitle {
    padding: 20px; /* Adjust padding as needed */
    text-align: center;
}


.sectionlasttitle {
    padding: 2% 0;
    margin-left: 15px;
    color: darkcyan;
    align-items: center;
    text-align: center;
    font-size: 40px;
    width: 50%;
    line-height: 1.2;
   
}
#btn {
    padding: 1% 2%;
    margin-left: 15px;
    background-color: rgb(0, 125, 125);
    font-weight: bold;
    color: #ffff;
    border: none;
    transition: 0.2s ease-in-out;
}
#btn:hover {
    background-color: #ffff;
    color: rgb(0, 125, 125);
    border: 2px solid rgb(0, 125, 125);
    border-radius: 20px;
}
/* Media Queries Start Here */
@media (max-width: 1000px) {
    .containersm {
        padding: 1% 1%;
        margin: 5% 0%;
        display: flex;
        flex-direction: column;
        /* margin-left: 15px;  -- This works.*/
        /* align-items: flex-start; */
        align-items: center; /*This code works*/
        text-align: center;
        /* height: 100%; */
        
    }
    .sectiontitle {
        font-size: 2.5em;
        margin: 1% 1%;
    }
    .picture{
        width: 100vw;
        height: 50vh;
    }

    .picture2 {
        margin: 5%;
        width: 50vw;
        height: 30vh;
        margin-bottom: 5%;
    }

    .picture3 {
        width: 46vw;
        height: 40vh;
    }

    .sectionlasttitle {
        font-size: 3.3vh;
        text-align: left;
    }
    .containerlast {
        /* align-items: flex-start; */
        align-items: center;
    }
    #btn {
        width: 30vw;
        height: 5vh;
    }
    .containersecond {
        flex-direction: column-reverse;
        /* height: 100%; */
    }

    /* Ensure both sections stack properly */
    .Pop-up-Sticky-note-Logo,
    .ETextSummarization {
        margin: 20px 0; /* Add margin to create space between sections */
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        align-items: center; /* Center horizontally */
    }

    /* Ensure "ETextSummarization" image is displayed above the text */
    .ETextSummarization img {
        order: -1; /* Display image above text */
    }
}