form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 15px;
    padding: 10% 10%;
}
.container-radio {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5% 5%;
}
.container form input[type=text] {
    height: 30px;
    border: 1px solid darkcyan;
    border-radius: 10px;
    padding: 2% 2%;
    font-size: 20px;
}
.container form input[type=text]::placeholder {
    font-size: 20px;
}
.container form label {
    font-size: 20px;
}
label {
    font-size: 20px;
}
input[type=radio] {
    appearance: auto;
    width: 20px;
    height: 20px;
    fill: rgb(0, 115, 186);
    transition: ease-in-out 0.5s;
    /* background-color: darkcyan; */
}
.container-radio {
    display: flex;
    flex-direction: column;
}


.container-radio button {
    background-color: darkcyan;
    color: white;
    height: 30px;
    width: 120px;
    border: none;
    border-radius: 10px;
    
}
.container-radio button:hover {
    background-color: rgb(0, 93, 150);
}

.container button {
    background-color: darkcyan;
    width: 100px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 10px;
    
}
.container button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 93, 150);
}
.container h1 {
    align-items: center;
}

input:focus {
    outline: 10px;
    outline-color: rgb(0, 93, 150);
}